
/*------------------------------------------------------------------
    HEADER
-------------------------------------------------------------------*/


.top-navbar .bg-light{
	background: #333333 !important;

}


.top-navbar .navbar-light .navbar-nav .nav-link{
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
}

.top-navbar .navbar-light .navbar-nav .nav-item{
	position: relative;
	display: inline-block;
	padding: 15px 0px;
	margin: 0px 20px;
}
.top-navbar .navbar-light .navbar-nav .nav-item .nav-link{
	padding: 6px 0px;
	position: relative;
	display: block;
	line-height: 30px;
	letter-spacing: 1px;
}

.top-navbar .navbar-light .navbar-nav .nav-item::after {
    position: absolute;
    content: '';
    left: 50%;
    bottom: auto;
    top: 11px;
    width: 7px;
    height: 8px;
    opacity: 0;
    margin-left: -3px;
    background-color: #ffffff;
	border-radius: 50px;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    transition: all 900ms ease;
    -webkit-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    -moz-transition: all 900ms ease;
}

.top-navbar .navbar-light .navbar-nav .nav-item .nav-link::before {
    position: absolute;
    content: '';
    left: 0%;
    bottom: auto;
    top: -4px;
    width: 7px;
    height: 8px;
	border-radius: 50px;
    opacity: 0;
    margin-left: -10px;
    background-color: #ffffff;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    transition: all 900ms ease;
    -webkit-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    -moz-transition: all 900ms ease;
}

.top-navbar .navbar-light .navbar-nav .nav-item .nav-link::after {
    position: absolute;
    content: '';
    right: 0%;
    left: auto;
    bottom: auto;
    top: -4px;
    width: 7px;
    height: 8px;
	border-radius: 50px;
	border: none !important;
    opacity: 0;
    margin-right: -11px;
    background-color: #ffffff;
    transition: all 900ms ease;
    -webkit-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    -moz-transition: all 900ms ease;
}

.top-navbar .navbar-light .navbar-nav .nav-item.active::after{
	opacity: 1;
}

.top-navbar .navbar-light .navbar-nav .nav-item.active .nav-link::before {
	opacity: 1;
	left: 40%;
}
.top-navbar .navbar-light .navbar-nav .nav-item.active .nav-link{
	color: #9dc15b;
}
.top-navbar .navbar-light .navbar-nav .nav-item.active .nav-link::after{
	opacity: 1;
	right: 40%;
}

.top-navbar .navbar-light .navbar-nav .nav-item:hover::after{
	opacity: 1;
}

.top-navbar .navbar-light .navbar-nav .nav-item .nav-link:hover::before{
	opacity: 1;
	left: 40%;
}
.top-navbar .navbar-light .navbar-nav .nav-item .nav-link:hover{
	color: #9dc15b;
}
.top-navbar .navbar-light .navbar-nav .nav-item .nav-link:hover::after{
	opacity: 1;
	right: 40%;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}



.top-navbar.fixed-menu .bg-light {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    visibility: visible;
    transform: translate(0,0) scale(1);
    transition: .3s;
}

.top-navbar .bg-light {
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0 0 18px 0 rgba(0,0,0,.12);
}

.top-navbar .navbar-light .navbar-nav li .dropdown-menu {
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.12);
    border: none;
    border-radius: 0px;
    margin: 0px;
}

.top-navbar .navbar-light .navbar-nav li .dropdown-menu a:hover{
	background: #9dc15b;
	color: #ffffff;
}

.navbar-right li a{
	position: relative;
	padding: 13px 20px;
	font-size: 18px;
	display: inline-block;
}
.navbar-right li a,
.navbar-right li a.hover-btn-new::after {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.navbar-right li a.hover-btn-new::before,
.navbar-right li a.hover-btn-new::after {
  background: #9dc15b;
  content: '';
  position: absolute;
  z-index: 1;
}

.navbar-right li a.hover-btn-new:hover span {
  color: #ffffff;
}
.navbar-right li a.hover-btn-new::before {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.navbar-right li a.hover-btn-new::after {
  background: #ffffff !important;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.navbar-right li a.hover-btn-new span{
	position: relative;
	z-index: 2;
	color: #333333;
}
.navbar-right li a.hover-btn-new:hover:after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}


.navbar-toggler{
	background: #ffffff;
	border-radius: 0px;
	padding: 10px 10px;
}

.navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
	background: #333333;
}
.navbar-toggler .icon-bar + .icon-bar {
    margin-top: 4px;
}

.navbar-toggler:hover{
	background: #9dc15b;
}

.navbar-toggler:hover .icon-bar{
	background: #ffffff;
}




