/*------------------------------------------------------------------
    LOADER
-------------------------------------------------------------------*/

.loader-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:8888;
  }
  .loader-container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: #9dc15b;
    z-index: -1;
    transition: top 1.2s linear 3.1s;
  }
  .loader-container:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: #9dc15b;
    z-index: -1;
    transition: bottom 1.2s linear 3.1s;
}
.loader-container.done:before {
    top: -50%;
}
.loader-container.done:after {
    bottom: -50%;
}

.progress-br {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transform-origin: center;
  }
  .progress-br .progress__item {
    text-align: center;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border: 2px solid #fff;
    border-radius: 50%;
  }
  .progress-br .progress__item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: -3px;
    margin-left: 0px;
    width: 45px;
    height: 45px;
    border-top: solid 5px #fff;
    border-right: solid 5px #fff;
    border-top-right-radius: 100%;
    transform-origin: left bottom;
    -webkit-animation: spin 3s linear infinite;
}
  .progress-br.float .progress__item:before {
    border-top-width: 2px;
    margin-top: 0px;
    height: 50px;
  }
  .progress-br.float.shadow:before {
    border-top-width: 2px;
    margin-top: -41px;
    height: 50px;
  }


  .progress-br.done .progress__item {
    opacity: 0;
    -webkit-animation: done 3.1s;
    transition: opacity 0.3s linear 3.1s;
  }
  .progress-br.done .progress__item:before {
    display: none;
  }
  .progress-br.done:before {
    display: none;
  }
  .progress-br.done:after {
    opacity: 0;
    -webkit-animation: done 3.1s;
    transition: opacity 0.15s linear 3.1s;
  }

  @-webkit-keyframes done {
    10% {
      transform: scale(1.1);
    }
    20% {
      transform: scale(0.9);
    }
    30% {
      transform: scale(1.07);
    }
    40% {
      transform: scale(0.93);
    }
    50% {
      transform: scale(1.04);
    }
    60% {
      transform: scale(0.97);
    }
    80% {
      transform: scale(1.01);
    }
    90% {
      transform: scale(0.99);
    }
    100% {
      transform: scale(1);
    }
  }
  @-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  .shadow{
      box-shadow: none !important;
  }
